

@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "ModelChoiseAmer1";
}

@using (Html.BeginForm("TypChoiseAmber1", "Home", FormMethod.Post))
{

     @Html.ValidationSummary()
     <div class="distance">

        <h4> Typ wymiennika:  </h4>

                
 
                @Html.DropDownListFor(m => m.Wymiennik,
         new SelectList(

                        new List<Object> {
                               new  { value = 0, text = "krzyżowy" },
                               new  { value = 20 , text = "przeciwprądowy"},

                               new  { value = 40 , text = "obrotowy"},
                 },
                 "value",
                 "text",
                 1
         ),
         "Wybierz",
             new { @class = "form-control" }
     )
       
         
    </div>



   <div class="distance" >  
      <h4> Wybierz sposób montażu : </h4>
       
           @Html.DropDownListFor(m => m.Montaz,
       new SelectList(

                   new List<Object> {
                       new  { value = 0, text = "Stojący" },
                       new  { value = 10 , text = "Podwieszany"},

                },
              "value",
              "text",
              1
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
     

    </div>



    <div class="distance">
        

            <h4> Podaj zakładany wydatek centrali [m3/h] :</h4>
                
                     @Html.TextBoxFor(m => m.Wydatek,

        new { @class = "form-control" })    

    </div>


    <div class="distance">

             <h4> Podaj opór instalacji [Pa] :</h4>

                      @Html.TextBoxFor(m => m.Sprez,
        new { @class = "form-control" }) 
                 
                 
        
        
    </div>









    <input type="submit" value="Wykres" />

    <p>
 


    
    </P>


}
