

@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "TypChoiseAmer2";
}

@using (Html.BeginForm("TypChoiseAmber2", "Home", FormMethod.Post))
{

     @Html.ValidationSummary()
     <div class="distance">

        <h4> Typ wymiennika:  </h4>

                
 
                @Html.DropDownListFor(m => m.Wymiennik,
         new SelectList(

                        new List<Object> {
                               
                               new  { value = 20 , text = "przeciwprądowy"},

                             
                 },
                 "value",
                 "text"
                 
         ),
         "Wybierz",
             new { @class = "form-control" }
     )
       
         
    </div>

    
   

   <div class="distance" >  
      <h4> Wybierz sposób montażu : </h4>
       
           @Html.DropDownListFor(m => m.Montaz,
       new SelectList(

                   new List<Object> {
                       new  { value = 0, text = "Stojący" },
                   

                },
              "value",
              "text"
              
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
     

    </div>



    <div class="distance">
        

            <h4> Podaj zakładany wydatek centrali [m3/h] :</h4>
                
                     @Html.TextBoxFor(m => m.Wydatek,

        new { @class = "form-control" })    

    </div>


    <div class="distance">

             <h4> Podaj opór instalacji [Pa] :</h4>

                      @Html.TextBoxFor(m => m.Sprez,
        new { @class = "form-control" }) 
                 
                 
    </div>



     <div class="distance">

             <h4>Czy centrala ma posiadać  wbudowaną nagrzewnicę elektryczną wtórną ?</h4>

                       @Html.DropDownListFor(m => m.HeIn,
       new SelectList(

                   new List<Object> {
                       new  { value = true, text = "Tak" },
                       new  { value = false , text = "Nie"},

                },
              "value",
              "text"
              
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
                 
                 
        
        
    </div>

     <div class="distance">

             <h4>Czy centrala ma posiadać  wbudowany Bypass ?</h4>

                       @Html.DropDownListFor(m => m.Bypass,

       new SelectList(

                   new List<Object> {
                       new  { value = 1, text = "Tak" },
                       new  { value = 2 , text = "Nie"},

                },
              "value",
              "text"
              
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
                 
                 
        
        
    </div>





    <input type="submit" value="Dobór" />

    <p>
 


    
    </P>








}
