

@model WebApplication19.Models.Parameters

@{
    ViewBag.Title ="TypChoiseAmberRoof";
}




@using (Html.BeginForm("TypChoiseAmberRoof", "Home", FormMethod.Post))
{

     @Html.ValidationSummary()

     <div class="distance">

        <h4> Typ wymiennika:  </h4>

                
 
                @Html.DropDownListFor(m => m.Wymiennik,
         new SelectList(

                        new List<Object> {
                              

                               new  { value = 40 , text = "obrotowy"},
                 },
                 "value",
                 "text"
                 
         ),
         "Wybierz",
             new { @class = "form-control" }
     )
       
         
    </div>

   

   <div class="distance" >  
      <h4> Wybierz sposób montażu : </h4>
       
           @Html.DropDownListFor(m => m.Montaz,
       new SelectList(

                   new List<Object> {
                       new  { value = 0, text = "Stojący" },
                    

                },
              "value",
              "text"
              
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
     

    </div>



    <div class="distance">
        

            <h4> Podaj zakładany wydatek centrali [m3/h] :</h4>
                
                     @Html.TextBoxFor(m => m.Wydatek,

        new { @class = "form-control" })    

    </div>


    <div class="distance">

             <h4> Podaj opór instalacji [Pa] :</h4>

                      @Html.TextBoxFor(m => m.Sprez,
        new { @class = "form-control" }) 
                 
                 
        
        
    </div>

     <div class="distance">

             <h4>Czy centrala ma posiadać  wbudowaną nagrzewnicę wodną wtórną ?</h4>

                       @Html.DropDownListFor(m => m.WoIn,
       new SelectList(

                   new List<Object> {
                       new  { value = true, text = "Tak" },
                       new  { value = false , text = "Nie"},

                },
              "value",
              "text"
              
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
                 
                 
        
        
    </div>




      





    <input type="submit" value="Dobór" />

   


}
<div style="height:30px">
</div>

