



@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "TypChoiseAmer2Manual";
}

@using (Html.BeginForm("TypChoiseAmber2Manual", "Manual", FormMethod.Post))
{

     @Html.ValidationSummary()
     <div class="distance1">

        <h4> Typ wymiennika:  </h4>

                
 
                @Html.DropDownListFor(m => m.Wymiennik,
         new SelectList(

                        new List<Object> {
                               
                               new  { value = 20 , text = "przeciwprądowy"},

                             
                 },
                 "value",
                 "text",
                 1
         ),
         "Wybierz",
             new { @class = "form-control" }
     )
       
         
    </div>

    <div class="distance1">
         <h4>Wybierz wielkość centrali   : </h4>
 
           @Html.DropDownListFor(m => m.WydNom,
         new SelectList(

                     new List<Object> {
                       new  { value = 1, text = "300 " },
                       new  { value = 2 , text = "500 "},
                       new  { value = 3 , text = "800 "},
                       new  { value = 4 , text = "1200 "},




                  },
                "value",
                "text",
                1
         ),
           "Wybierz",
                  new { @class = "form-control" }
    
      )
 
        </div>

   <div class="distance1" >  
      <h4> Wybierz sposób montażu : </h4>
       
           @Html.DropDownListFor(m => m.Montaz,
       new SelectList(

                   new List<Object> {
                       new  { value = 0, text = "Stojący" },
                   

                },
              "value",
              "text",
              1
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
     

    </div>



    <div class="distance1">
        

            <h4> Podaj zakładany wydatek centrali [m3/h] :</h4>
                
                     @Html.TextBoxFor(m => m.Wydatek,

        new { @class = "form-control" })    

    </div>


    <div class="distance1">

             <h4> Podaj opór instalacji [Pa] :</h4>

                      @Html.TextBoxFor(m => m.Sprez,
        new { @class = "form-control" }) 
                 
                 
    </div>









    <input type="submit" value="Dobór" />

    <p>
 


    
    </P>








}


