


@model WebApplication19.Models.Parameters

@{
    ViewBag.Title = "TypChoiseAmber1Manual";
}



@using (Html.BeginForm("TypChoiseAmber1Manual", "Manual", FormMethod.Post))
{

     @Html.ValidationSummary()
     <div class="distance1">

        <h4> Typ wymiennika:  </h4>

                
 
                @Html.DropDownListFor(m => m.Wymiennik,
         new SelectList(

                        new List<Object> {
                               new  { value = 0, text = "krzyżowy" },
                               new  { value = 20 , text = "przeciwprądowy"},

                               new  { value = 40 , text = "obrotowy"},
                 },
                 "value",
                 "text"
         ),
         "Wybierz",
             new { @class = "form-control" }
     )
       
         
    </div>

     <div class="distance1">
         <h4>Wybierz wielkość centrali   : </h4>
 
           @Html.DropDownListFor(m => m.WydNom,
         new SelectList(

                     new List<Object> {
                       new  { value = 1, text = "300 " },
                       new  { value = 2 , text = "500 "},
                       new  { value = 3 , text = "800 "},
                       new  { value = 4 , text = "1200 "},




                  },
                "value",
                "text"
         ),
           "Wybierz",
                  new { @class = "form-control" }
    
      )
 
    </div>

   <div class="distance1" >  
      <h4> Wybierz sposób montażu : </h4>
       
           @Html.DropDownListFor(m => m.Montaz,
       new SelectList(

                   new List<Object> {
                       new  { value = 0, text = "Stojący" },
                       new  { value = 10 , text = "Podwieszany"},

                },
              "value",
              "text"
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
     

    </div>



    <div class="distance1">
        

            <h4> Podaj zakładany wydatek centrali [m3/h] :</h4>
                
                     @Html.TextBoxFor(m => m.Wydatek,

        new { @class = "form-control" })    

    </div>


    

    <div class="distance1">

             <h4> Podaj opór instalacji [Pa] :</h4>

                      @Html.TextBoxFor(m => m.Sprez,
        new { @class = "form-control" }) 
                 
                 
        
        
    </div>



      <div class="distance">

             <h4>Czy centrala ma posiadać  wbudowaną nagrzewnicę elektryczną wtórną ?</h4>

                       @Html.DropDownListFor(m => m.HeIn,
       new SelectList(

                   new List<Object> {
                       new  { value = true, text = "Tak" },
                       new  { value = false , text = "Nie"},

                },
              "value",
              "text"
       ),
        "Wybierz",
                  new { @class = "form-control" }
    )
                 
        
        
    </div>






    <input type="submit" value="Dobór" />


    
    
    
    
  

    <p>
 


    
    </P>


}


