<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Program doborowy - AMBER</title>





    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    
    <script src="~/Scripts/jqPlot/jquery.jqplot.js" type="text/javascript"></script>  
    <link href="~/Scripts/jqPlot/jquery.jqplot.css" rel="stylesheet" type="text/css" />  

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.js"></script>


    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.logAxisRenderer.js"></script>

    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.canvasTextRenderer.js"></script>

    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>

    
    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    
    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.js"></script>

    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.js"></script>
    
    <script type="text/javascript" src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.js"></script>






    <link href="~/Scripts/jqPlot/jquery.jqplot.css" rel="stylesheet" />



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body> 
        
                    
   <ol id="submenu">
         <li><a>Program doborowy</a>
      <ul>
          <li><a>@Html.ActionLink("Dobór automatyczny","ProductChoise","Home")</a></li>
          <li><a>@Html.ActionLink("Dobór ręczny", "ProductChoiseManual", "Manual")</a></li>
          
      </ul>
         
    </li>

       
   <!--      <li><a>Centrale</a>
      <ul>
          <li><a>@Html.ActionLink("Amber 1", "Index", "Home")</a></li>
          <li><a>@Html.ActionLink("Amber 1 DO", "Index", "Home")</a></li>
          <li><a>@Html.ActionLink("Amber 2", "Index", "Home")</a></li>
          
      </ul>
         </li>



       <li><a>Wymienniki</a>
      <ul>
          <li><a>@Html.ActionLink("Krzyżowy", "Index", "Home")</a></li>
          <li><a>@Html.ActionLink("Obrotowy", "Index", "Home")</a></li>
          <li><a>@Html.ActionLink("Przeciwprądowy", "Index", "Home")</a></li>
          
      </ul>
         </li>

       -->
     
        <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
       
        

   </ol>
                    


      
       <div id="stripe">

           
        
         <div id="stripe-text">@ViewBag.Message</div>
           </div>

    
  

   
        
  
    <div class="body-content">
       
        @RenderBody()
    </div>

    





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
