
@model WebApplication19.Models.Parameters


   <div id="win1">@Html.Partial("Chart")</div>
    
    
    

    @if (ViewBag.Approve == true)

   

      {
      <div id="win2"> 
            
          
      <h4 style="margin-left:10px "> Dobrano centralkę:</h4>
                
                
            
                        @if (ViewBag.HeIn==true)
                        {
                         
                        <h3 id="center"><strong> @ViewBag.Name@ViewBag.SymHeIn</strong></h3>
                         <h4 id="center">Z nagrzewnicą elektryczna wbudowaną</h4>
                        }
                        else
                        {
                         <h3 id="center"><strong> @ViewBag.Name@ViewBag.SymHeOff</strong></h3>
                         <h4 id="center">Bez nagrzewnicy elektryczną wbudowanej</h4>
                        }

                 
            
          
      <h4 style="margin:35px 0 30px 10px "> Proszę kliknąć na rysunek:</h4>


      <div id="win4">
          




         @if (ViewBag.Centrala == 121 || ViewBag.Centrala == 122  )
          {

           <button type="button"  onclick="location.href='@Url.Action("AhuData")'" >
           <p><strong>Amber 2</strong></p>
             <img alt="New" title="Amber 1" src="~/Image/A2P500_small.jpg"height="250" width="300" >
           </button>




 
          }

          else if ( ViewBag.Centrala == 123  || ViewBag.Centrala == 124 )
          {  
            <button type="button"  onclick="location.href='@Url.Action("AhuData")'" >
            <p><strong> Amber2</strong></p>
            <img alt="New" title="Amber 1" src="~/Image/A2P1200_small.jpg"height="265" width="300" >
            </button>


          }




      </div> 

      </div>
     

    }
         

        else

        
        {
            <div id = "win2"> Parametry poza zakresem pracy </div>
        }
   


 

















